.add-track-component {
    height: 100%;
    align-items: center;
    align-self: center;
    background-color: #0a201b;
}

.track-card {
    background-color: #103029;
}

li {
    background-color: #D7B8F3;
    border: 1px solid teal;
    border-radius: 24px 24px 0px 0px;
    padding: 40px 20px 20px 20px;
    margin: 20px;
    width: 400px;
    height: 500px;
    text-align: center;
    list-style-type: none;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 10px 10px 0px #B8B8F3;
}

.search-input {
    text-align: center;
    text-transform: uppercase;
    background-color: #B8B8F3;
    color: white;
    padding: 2px 0px 2px 5px;
    margin-right: 5px;
    border: 1px solid white;
    height: 30px;
}

.search-submit {
    margin: 10px 0px 10px 0px;
    background-color: #F397D6;
    color: white;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    font-size: 10px;
}

.album-art {
    border-radius: 15px;
    opacity: .85;
    margin-bottom: 10px;
    box-shadow: 3px 3px 0px #db75fd;
}

.album-art:hover {
    opacity: 1;
    border: 2px solid white;
}

.add-form {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}

.artist {
    font-weight: 400;
    font-size: 16px;
}

.track {
    color: white;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.track:hover {
    color: greenyellow;
    font-style:italic;
}

.add-btn{
    /* background-color: lightgreen; */
    border: 1px solid white;
    border-radius: 15px;
    width: 200px;
    margin: 20px 0px 10px 0px;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;

}
.add-btn:focus {
    background-color: greenyellow;
    border: 1px solid white;
    border-radius: 15px;
    width: 200px;
    margin: 20px 0px 10px 0px;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}

.add-btn:hover {
    background: rgba(154, 154, 201, 0.2);
    color: white;
    border: 1px solid transparent;
}
