.user-avatar {
  width: 300px;
  height: 300px;
  border: 1px solid transparent;
  margin-bottom: 10px;
  box-shadow: 0 0 15px rgba(5, 5, 5, 0.5);
  border-radius: 50%;
  object-fit: cover;
   z-index: 2;

}

.user-detail-container {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 105vh;
}

.user-detail-card-container {
  height: 95vh;
  overflow: auto;
}



.card-purple {
  background-color: purple;
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 7px rgba(5, 5, 5, 0.5);
  padding: 25px;
}

.user-detail-page {
    background: linear-gradient(306deg, #a002ff, #050005);
    background-size: 400% 400%;
    height: 95.3vh;
    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;
    overflow:hidden;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}


.avatar-circle {
  position: absolute;
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
  border-radius: 50%;
  object-fit: cover;
  background-color: rgb(192, 79, 182);
  z-index: 1;
}

.pink-box {
  background-color: rgb(192, 79, 182);
  border-radius: 10px;
  padding: 2px 10px;
  margin-bottom: 10px;
}

.test {
  transition: transform .7s ease-in-out;
}
img:hover {
  transform: rotate(360deg);
}
